/**/*.sqlite3
/**/.env
/**/node_modules/
/**/own_modules/
/**/tmp/
/**/ttttest.*
/.idea/
/cfg/local.*
/cfg/local.json
/composer.lock
/http-client.env.json
/test/scenarios/db.sqlite
/tmp/
/var/*.pid
/var/data.json
/var/store/**
/var/teq-cms
/web/css/tailwind.min.css
/web/download/