.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.separator {
    margin: 15px 0;
    font-size: 1rem;
    color: gray;
}

.btn-dark {
    background-color: #333;
}

.btn-dark:hover {
    background-color: #222;
}
