:root {
    --color-set-base: #FB9902;
    --color-set-darker: #975B02;
    --color-set-darkest: #342309;
    --color-set-lighter: #FDC168;
    --color-set-lightest: #FFF1DC;
    --padding-grid: 10px;
    --size-lg: 10px;
    --size-md: 7px;
    --size-sm: 5px;
    --size-xl: 15px;
    --size-xs: 2px;
}

